.list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.list-item {
	margin-right: 19px;
}

.list-item:last-child {
	margin-right: 0;
}

.nav-link {
	padding: 8px 16px;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	color: #7a7a7a;
	background-color: #f5f5f5;
	display: inline-block;
	border: none;
}

.active-link {
	color: #000;
	background-color: #f9c3ed;
}

@media only screen and (max-width: 1024px) {
	.nav {
		overflow: hidden;
		width: 100%;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
	}

	.nav-link {
		padding: 14px 24px;
		white-space: nowrap;
		scroll-snap-align: start;
	}
}

@media only screen and (max-width: 768px) {
	.list-item {
		margin-right: 12px;
	}
}
