.wrapper {
	background-color: #f5f5f5;
	padding: 80px 0 190px;
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #090700;
}

.products {
	margin: 55px 0 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, 274px);
	column-gap: 32px;
	row-gap: 40px;
}

@media (max-width: 820px) {
	.wrapper {
		padding: 64px 0 80px;
	}

	.products {
		margin: 20px 0 0;
		grid-template-columns: repeat(auto-fill, 175px);
		justify-content: space-between;
		column-gap: 16px;
		row-gap: 16px;
	}
}
