.wrapper {
	padding: 0 0 155px;
}

.inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.challenge:not(:last-child) {
	margin: 0 0 75px;
}

@media only screen and (max-width: 768px) {
	.wrapper {
		padding: 0 0 90px;
	}
}
