.wrapper {
	position: relative;
}

.input-wrapper {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
}

.label,
.unit {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #090700;
}

.label {
	margin: 0 12px 0 0;
}

.unit {
	margin: 0 0 0 12px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.input[type='number'] {
	-moz-appearance: textfield;
}

.input {
	border: 1px solid #f5f5f5;
	background: var(--white);
	color: var(--black);
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	padding: 8px 10px;
}
