.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.title {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	color: #090700;
}

.requirements {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #515151;
	margin: 8px 0 0;
}

.info-wrapper {
	width: 100%;
	background-color: #f6e4f2;
	padding: 12px 12px 12px 16px;
	display: flex;
	align-items: flex-start;
	margin: 32px 0 0;
}

.info-wrapper svg {
	flex: 0 0 32px;
}

.info-items {
	margin: 0 0 0 10px;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 24px;
}

.info-title {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	color: #dc16b0;
}

.info-description {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: #dc16b0;
	margin: 8px 0 0;
	white-space: pre-wrap;
}

.media {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 32px 0 0;
}

.photos {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0 64px 0 0;
	border-right: 1px solid #f5f5f5;
	margin: 0 64px 10px 0;
}

.photo {
	width: 185px;
	height: 170px;
	flex-grow: 0;
	flex-shrink: 0;
}

.photo:not(:last-child) {
	margin: 0 32px 0 0;
}

.video {
	width: 185px;
	height: 170px;
}

@media only screen and (max-width: 940px) {
	.title {
		font-size: 20px;
		line-height: 24px;
	}

	.info-wrapper {
		padding: 12px;
	}

	.photos {
		margin: 0 0 12px;
		border-right: none;
		border-bottom: 1px solid #f5f5f5;
		padding: 0 0 24px;
		display: grid;
		grid-template-columns: repeat(3, fit-content(100%));
		width: 100%;
		overflow: auto;
	}

	.photo:not(:last-child) {
		margin: 0 12px 0 0;
	}

	.video {
		position: relative;
		z-index: 1;
	}
}
