.wrapper {
	display: flex;
	flex-direction: column;
}

.inner {
	display: flex;
	align-items: flex-start;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar {
	border-radius: 50%;
	object-fit: cover;
	cursor: zoom-in;
}

.preview {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: zoom-out;
	object-fit: contain;
	width: 70%;
	height: 70%;
}

.name {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: var(--black);
}

.info {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 16px;
	padding: 11px 0 0;
}

.info-fields {
	margin: 11px 0 0;
	width: fit-content;
}

.like {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 46px;
	overflow: hidden;
	margin: 13px 0 0;
}

.like span {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: var(--black);
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	text-align: center;
}

.like-icon {
	margin: 0 0 5px;
	cursor: pointer;
}

.field {
	display: flex;
	align-items: center;
}

.field {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #7a7a7a;
}

.field svg {
	margin: 0 8px 0 0;
}

.field:not(:last-child) {
	margin: 0 0 8px;
}

.achievements {
	position: relative;
	height: 36px;
	cursor: pointer;
	transform-origin: bottom;
	width: fit-content;
	transition: all 0.2s ease;
}

.achievements img {
	object-fit: contain;
	position: absolute;
	transition: all 0.2s ease;
}

.achievements:hover {
	transform: scale(4) translateX(35%);
	z-index: 9;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.achievements:hover > img {
	position: static !important;
	margin: 0 5px 5px 0;
}
