.modal {
	margin: 1em 0 !important;
	padding: 64px 80px 32px !important;
	background: var(--white) !important;
	max-width: 1330px !important;
	width: 90vw !important;
	outline: none !important;
}

.close {
	width: 24px;
	height: 24px;
	background: transparent;
	border: none;
	position: absolute;
	top: 16px;
	right: 16px;
}

.close:hover path {
	stroke: var(--black);
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	margin: 0 0 50px;
	color: #090700;
}

.image-wrapper {
	height: 0;
	position: relative;
	padding-top: 66.44%;
}

.image-wrapper img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 768px) {
	.modal {
		padding: 36px 16px !important;
		width: 90% !important;
	}

	.title {
		max-width: 200px;
		font-size: 30px;
		line-height: 120%;
		margin: 0 0 32px;
		padding: 0 0 0 10px;
	}

	.close {
		right: 24px;
		top: 24px;
	}

	.image-wrapper {
		padding-top: 207.74%;
	}
}
