.button {
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #ed36c4;
}

.left {
	margin-right: 8px;
}

.right {
	transform: rotate(180deg);
	margin-right: 0;
	margin-left: 8px;

	order: 2;
}

.back {
	color: #000;
}

.back svg path {
	fill: #000;
}

.btn-primary:disabled {
	pointer-events: none;
	cursor: default;
}
