.info-wrapper {
	display: flex;
	align-items: flex-start;
	padding-left: 32px;
}

.info {
	margin: 0 0 0 32px;
}

.info img {
	object-fit: contain;
	flex: 0 0 146px;
}

.params {
	display: flex;
	align-items: center;
	margin: 20px 0 0;
}

.product-title {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	color: #000000;
}

.params p {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.params span {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.params p:not(:last-child) {
	margin: 0 32px 0 0;
}

.description {
	margin: 24px 0 0;
}

.description p,
.desccription li {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.desccription strong {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.desccription ul,
.desccription ol {
	list-style-position: inside;
}

.description p:not(:last-child) {
	margin: 0 0 1em;
}

.price-wrapper {
	align-self: center;
}

.price {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.price-info {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #7a7a7a;
	margin: 8px 0 0;
}

.count-controls {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.count-controls button {
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 36px;
	background-color: transparent;
	border: none;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	color: #000000;
}

.count-wrapper {
	align-self: center;
}

.count {
	background: #ffffff;
	border: 0.5px solid #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 36px;
	flex: 0 0 48px;
}

.count-info {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #7a7a7a;
}

.total-price-wrapper {
	display: flex;
	padding-right: 32px;
}

.total-price {
	align-self: center;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	color: #000000;
}

.remove {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	position: relative;
	margin: 0 0 0 12px;
}

.remove::before {
	content: 'Удалить позицию';
	position: absolute;
	display: none;
	height: 100%;
	right: calc(100% + 8px);
	top: 50%;
	transform: translateY(-50%);
	white-space: nowrap;
	color: #ed36c4;
	transition: all 0.3s ease;
}

.remove:hover path {
	fill: #ed36c4;
}

.remove:hover::before {
	display: block;
}
